<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="font-[Poppins] px-[50px]">
    <nav class="bg-white w-full h-[112px] flex items-center justify-between px-4">
        <a href="/">
            <div class="flex items-center cursor-pointer">
                <img class="w-[80px]" th:src="@{'/images/logo.png'}" alt="">
                <p class="text-[26px]">Coffee Shop</p>
            </div>
        </a>
        <ul class="flex justify-center items-center w-[310px] flex-grow  flex-shrink-0 gap-[4vh] text-[20px] font-semibold">
            <li>
                <a href="#" class="hover:text-gray-600">Home</a>
            </li>
            <li>
                <a href="#" class="hover:text-gray-600">Menu</a>
            </li>
            <li>
                <a href="#" class="hover:text-gray-600">Contact</a>
            </li>
            <li>
                <a href="#" class="hover:text-gray-600">About</a>
            </li>
        </ul>
        <div class="flex gap-[40px] items-center">
            <svg class="max-lg:hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7219 17.6916C14.1342 18.8667 19.0711 13.8183 17.6662 15.7374C17.7014 15.7346 17.6362 15.841 17.4178 16.1077C17.4178 16.1077 21.1697 19.8342 23.0114 21.7308C23.6508 22.4222 22.4972 23.8022 21.7134 23.0817C20.0456 21.4636 16.0992 17.4422 16.0931 17.4357L15.7219 17.6916Z" fill="#8B8484"/>
                <path d="M10.2089 19.576C12.6229 19.5525 15.0126 18.5527 16.7311 16.8544C18.772 14.8374 19.8229 11.8533 19.4564 9.00424C18.8283 4.12221 14.8148 0.809082 10.1489 0.809082C6.60372 0.809082 3.15841 3.02674 1.64716 6.24236C0.490286 8.70424 0.487942 11.6766 1.64716 14.1427C3.14763 17.3358 6.53669 19.5417 10.0884 19.576C10.1287 19.576 10.169 19.576 10.2089 19.576ZM10.0983 18.0117C6.4931 17.9771 3.12935 15.1889 2.46044 11.6142C1.98888 9.09424 2.87904 6.36705 4.73341 4.57736C6.8981 2.48721 10.3008 1.78736 13.1301 2.97189C15.6614 4.03174 17.5561 6.49268 17.9053 9.20393C18.2043 11.528 17.3704 13.9636 15.7317 15.6413C14.294 17.1131 12.2779 17.9916 10.199 18.0117C10.1653 18.0117 10.132 18.0117 10.0983 18.0117Z" fill="#8B8484"/>
            </svg>
            <div class="flex items-center py-[10px] rounded-xl text-white justify-between w-[100px] flex-shrink-0 px-[15px] bg-red-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M7.87471 6.25H26.25L23.75 15H9.22089M25 20H10L7.5 3.75H3.75M11.25 25C11.25 25.6904 10.6904 26.25 10 26.25C9.30965 26.25 8.75 25.6904 8.75 25C8.75 24.3096 9.30965 23.75 10 23.75C10.6904 23.75 11.25 24.3096 11.25 25ZM25 25C25 25.6904 24.4404 26.25 23.75 26.25C23.0596 26.25 22.5 25.6904 22.5 25C22.5 24.3096 23.0596 23.75 23.75 23.75C24.4404 23.75 25 24.3096 25 25Z" stroke="#FFFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="font-semibold" th:text="${allitem}">0</p>
            </div>
            <a href="/Login" class="text-[20px] text-black font-bold ">Login</a>
        </div>
    </nav>

    <div class="flex gap-2 text-[#665B5B] text-[13px] my-[22px]">
        <p>home</p>
        <p>></p>
        <p>food items</p>
        <p>></p>
        <p class="font-bold" th:text="${item.name}">Croissant</p>
    </div>

    <div class="xl:flex xl:justify-center xl:items-center my-[50px]">
        <div class="flex w-[1230px] h-[430px] gap-5">
            <div class="w-1/2 h-[400px] border border-black flex-shrink-0 flex items-center justify-center">
                <img th:src="@{${'/images/'+ item.category + '/' + item.image}}" class="max-w-[580px] max-h-[373px]" alt="">
            </div>
            <div class="w-1/2 h-[400px] ">
                <p class="font-bold text-[32px]" th:text="${item.name}">Croissant</p>
                <p class="text-[14px] text-gray-400" th:text="${item.category} + ' item'">Food item</p>
                <p class="my-8 text-ellipsis line-clamp-3 h-[75px]" th:text="${item.description}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dicta similique totam tempora ab quas molestias suscipit ipsum. Modi aliquid dolore distinctio iusto nihil inventore sapiente deleniti impedit aut, nisi cumque et unde fugit corrupti corporis optio libero alias quos magnam dolores minus odit mollitia vitae! Facilis ea accusantium exercitationem nulla accusamus quidem totam voluptatem, nam fuga et tempora eos aut, dolores quae quibusdam ipsum id voluptatibus, possimus blanditiis consequatur optio architecto. Incidunt exercitationem dolorem cum quam nesciunt tenetur id nemo neque error? Aut eligendi amet dignissimos alias quam, voluptatum vero sapiente ex, repellat, modi in deleniti. Assumenda, corporis maiores?</p>
                <p class="text-[32px] mt-[52px] font-bold text-green-500" th:text="'$'+${item.price}">$2.99</p>
                <div class="flex gap-8 mt-[65px] items-center">
                    <div class="flex items-center justify-between w-[100px]">
                        <button id="decrease" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                <path d="M7.5 15H22.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                        </button>
                        <p class="count flex-grow text-center">1</p>
                        <button id="increase" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                <rect width="30" height="30" fill="#DDC8C8"/>
                                <path d="M7.5 15H22.5M15 7.5V22.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                        </button>
                    </div>
                    <form th:action="@{${item.id}+'/insert'}" method="post">
                        <input type="number" value="1" id="quantity" hidden class="max-w-[0]" name="quantity">
                        <button type="submit" id="addToCart" class="bg-[#3E726F] w-[169px] h-[62px] flex justify-center items-center text-white rounded-2xl gap-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                <path d="M4.29977 2.88477H19L17 9.48145H5.37671M18 13.251H6L4 1H1M7 17.0205C7 17.541 6.55228 17.9629 6 17.9629C5.44772 17.9629 5 17.541 5 17.0205C5 16.5 5.44772 16.0781 6 16.0781C6.55228 16.0781 7 16.5 7 17.0205ZM18 17.0205C18 17.541 17.5523 17.9629 17 17.9629C16.4477 17.9629 16 17.541 16 17.0205C16 16.5 16.4477 16.0781 17 16.0781C17.5523 16.0781 18 16.5 18 17.0205Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>Add to Cart</p>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="font-bold text-[16px]">Similar Items</p>
    <div class="flex mt-5 gap-5">
        <a th:if="(${i.category} == ${item.category}) and (${i.name} != ${item.name})" th:each=" i : ${items}" th:href="@{'/Itemdetails/'+ ${i.id}}">
            <div  class="border shadow-lg transition ease-in-out hover:scale-110 justify-center items-center flex flex-shrink-0 w-[100px] h-[100px]">
                <img th:src="@{${'/images/'+ i.category + '/' + i.image}}" alt="" class="max-h-[100px]">
            </div>
        </a>
    </div>
</body>
</html>

<script>
    let increase = document.getElementById("increase");
    let decrease = document.getElementById("decrease");
    let count = document.querySelector(".count");
    let quantity = document.getElementById("quantity");
    let num = 1;

    increase.addEventListener("click",()=>{
        num++;
        count.textContent = num;
        quantity.value = num;
    });


    decrease.addEventListener("click",()=>{
        if(num>1) num--;
        count.textContent = num;
        quantity.value = num;
    });



</script>